<form id="formUtente">
  <div id="anagrafica">
    <h3>Inserisci i tuoi dati</h3>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome">
  </div>
  <div class="form-group">
    <label for="cognome">Cognome</label>
    <input type="text" class="form-control" id="cognome" placeholder="Cognome">
  </div>
  <div class="form-group">
    <label for="indirizzo">Indirizzo</label>
    <input type="text" class="form-control" id="indirizzo" placeholder="Indirizzo">
  </div>
   <div class="form-group">
     <label for="telefono">Telefono</label>
     <input type="number" class="form-control" id="telefono" placeholder="Telefono">
  </div>
   <div class="form-group">
     <label for="email">E-mail</label>
     <input type="text" class="form-control" id="email" placeholder="E-mail">
   </div>
  <div class="form-group">
    <label >Data di nascita</label>
    <app-date-picker></app-date-picker>
  </div>
  </div>
  <div id="prenotazione">
    <h3>Inserisci i dati della prenotazione</h3>
    <div class="form-group">
      <label >Data visita</label>
      <app-date-picker></app-date-picker>
    </div>
    <div class="form-group">
      <label for="tipoVisita">Tipologia visita</label>
      <select class="form-control" id="tipoVisita">
        <option>Visita di controllo</option>
        <option>Visita specialistica</option>
        <option>Analisi del sangue</option>
      </select>
    </div>
  </div>
</form>
