<nav class="navbar navbar-expand-sm bg-info navbar-dark">
<a class="navbar-brand" routerLink="">Studio medico</a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link" routerLink="">Home </a>
    </li>
    <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="navbardrop" ngbDropdownToggle>
        Servizi
      </a>
      <div class="dropdown-menu" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="prenota-visita">Prenota visita</a>
        <a class="dropdown-item" routerLink="ricerca-risultati">Ricerca risultati</a>
        <a class="dropdown-item" routerLink="visualizza-listino">Visualizza listino</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contatti">Contatti</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="su-di-noi">Su di noi</a>
    </li>
  </ul>
</div>
</nav>
