<ul>
  <li>
    <ng-template #tipContent><b>100,00€</b>!</ng-template>
    <button type="button" class="btn btn-outline-secondary" [ngbTooltip]="tipContent">
      Visita di controllo
    </button>
  </li>
  <li>
    <ng-template #tipContent><b>300,00€</b>!</ng-template>
    <button type="button" class="btn btn-outline-secondary" [ngbTooltip]="tipContent">
      Visita specialistica
    </button>
  </li>
  <li>
    <ng-template #tipContent><b>200,00€</b>!</ng-template>
    <button type="button" class="btn btn-outline-secondary" [ngbTooltip]="tipContent">
      Analisi del sangue
    </button>
  </li>
</ul>

